html{
    height: 100%;
    width: 100%;
    margin: 0px;
}
body {
    background-color: black;
    height: 100%;
    width: 100%;
}


.chart{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: 100%;
    justify-content: center;
}

figure{
    justify-self: center;
    padding: 0px;
    height: 100%;
}
